
#nav-area {
    background-color: yellowgreen;
}

#nav-area .icon a {
    text-decoration: none;
}

#nav-area .icon a i {
    font-size: 30px;
    color: red;
    top: -25px;
}


#nav-area .icon a sup {
    top: -1em;
    font-size: 15px;
    color: red;
    margin-left: 2px;
}
